*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}

// Variables
$main-font: 'Roboto', sans-serif;
$nav-color: rgba(1, 31, 58, 1);

.navbar{
    max-width: 1440px;
    height: 61px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: $main-font;
    margin: 0 auto;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
 
    a{
        text-decoration: none;
        color: $nav-color;
        font-weight: 400;
    }
    a:hover{
        background: yellowgreen;
    }
    .underline{
        text-decoration: underline;
        position: relative;
    }
    .underline::before{
        content: "";
        background-image: url(Images/stars.png);
        position: absolute;
        left: -25px;
        top: 0;
        width: 16px;
        height: 16px;
    }
    .logo{
        padding: 19px 0px 18px 24px;
    }
    nav.nav {
        width: 48%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 22px 0px 21px 0px;
        cursor: pointer;
    }
    .sign{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 22px 0px 21px 0px;
        cursor: pointer;
        a.sign_item {
            margin-right: 25px;
        }
    }

   
}
 // header main block
 .header_main{
    // width: 100%;
    height: 600px;
    background: rgba(242, 174, 77, 1);
    padding-left: 222px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    .header-main__left__h1{
    font-family: $main-font;
    font-size: 48px;
    line-height: 56px;
    max-width: 480px;
    height: 168px;
    }
    .header-main__left__text{
        max-width: 277px;
        height: 48px;
        font-family: $main-font;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: rgba(1, 31, 58, 1);
        padding-top: 33px;
    }
    .header-main__left__btn{
        width: 228px;
        height: 56px;
        border-radius: 44px;
        background: rgba(61, 86, 117, 1);
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        font-family: $main-font;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 2px;
        color: whitesmoke;
        margin-top: 20px;
    }
   
}
// bottom header white block
.header-bottom{
background: whitesmoke;
display: flex;
flex-direction: row;
justify-content: space-evenly;
height: auto;
max-width: 1200px;
display: flex;
flex-direction: row;
justify-content: space-between;
margin-left: 215px;

.header-bottom__items{
    width: 240px;
    display: flex;
    flex-direction: row;
}
.sporify{
    width: 142px;
    height: 80px;
}
.amazon{
    width: 80px;
    height: 80px;
}
.eco-fry{
    width: 125px;
    height: 80px;
}
.header-bottom__text{
    color:rgba(161, 161, 161, 1);
    font-family: $main-font;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.6px;
    align-self: center;
}
}

// goods section
.goods{
    max-width: 1440px;
    background: rgba(238, 238, 238, 1);
    margin: 0 auto;

    &__wrapper{
        width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__row{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 50px 0px 50px 0px;
    }
    &__row__main-text{
        max-width: 415px;
        height: 38px;
        font-family: $main-font;
        font-size: 32px;
        color: rgba(1, 31, 58, 1);
        line-height: 37px;
        font-weight: normal;
    }
    &__btn{
        width: 247px;
        height: 44px;
        border-radius: 44px;
        background: rgba(61, 86, 117, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-family: $main-font;
        line-height: 18px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1.96px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__container{
        max-width: 100%;
        height: 864.31px;
        display: flex;
        flex-wrap: wrap;
    }
    &__container__items{
        // border: 1px solid black;
        width: 398px;
        height: 432px;
        background: #FFFFFF;
    }
    &__container__header{
        font-family: $main-font;
        line-height: 21px;
        font-style: 18px;
        letter-spacing: 0.36px;
        color: #011F3A;
        padding-left: 20px;
    }
    &__container__bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px 4px 20px;
        color: rgba(119, 119, 119, 1);
        font-family: $main-font;
        font-style: 15px;
        line-height: 24px;
    }
    &__container__bottom__text{
        width: 220px;
    }

    &__container__info{
        width: 420px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 50px 0px 50px 0px;

        .bottom__text__goods {
            color: rgba(161, 161, 161, 1);
            font-family: $main-font;
            font-size: 15px;
            line-height: 24px;
            font-weight: bold;

        }

        .goods__bottom__btn{
            width: 185px;
            height: 44px;
            border-radius: 44px;
            background: #FFFFFF;
            border: 1px solid #011F3A;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            text-transform: uppercase;
            color: #3D5675;
            font-family: $main-font;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 1.96px;
        }
    }

}
